code, .code {
    display: block;
    background-color: var(--bg-code);
    color: var(--font-code);
    border-radius: 5px;
    overflow: auto;
    white-space: pre;
}


kbd {
    background-color: var(--bg-code);
    padding: 3px;
    color: var(--font-code);
    border-radius: 5px;
    margin: 5px;
}


.main-section header > h3 {
    cursor: pointer;
    margin-bottom: 0;
    text-transform: capitalize;
    font-size: 22px;
    color: var(--bg-link-hover-nav);
}

.main-section header > h3:hover::after {
    content: "#";
    font-weight: 200;
    font-style: italic;
    margin-left: 20px;
    color: var(--bg-scrollbar-thumb);
}


main a {
    text-decoration: none;
    color: var(--link-color)
}

main a:hover {
    color: var(--link-hover)
}